after_process.csv
*.csv*
*.xlsx*
Clusterização e Redução de Dimensionalidade/imgs/*
Visão Computacional com Aprendizado Profundo/*.jpg
cv2_noise.py
Visão Computacional com Aprendizado Profundo/imgs/cards*
teste.py